In [69]:
#Lawyers
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize, pos_tag, ne_chunk
import itertools
import pandas as pd
import os
stop = stopwords.words('english')

In [47]:
import pandas as pd
import os
df1 = pd.DataFrame(columns = ["Files", "lawyer_name"])
n = 0
for files in os.listdir("C://Users//acer1//Desktop//Course content//Court misclassification//Google Scholar//Google")[1:2]:
    try:
        d1 = d1 = open("C://Users//acer1//Desktop//Course content//Court misclassification//Google Scholar//Google//%s"%files)
        d2 = d1.read()
        d3 = d2.split("\n")[0:40]
        d4_rep = []
        for lines in d3:
            if "represented by" in lines:
                d4_rep = d4_rep + [lines.split("represented by")[1]]
        d4_for_pd = [x for x in d3 if "for Plaintiff" in x or "for Defendent" in x]
        d_all = d4_rep + d4_for_pd
        ls = " ".join(d_all)
        #ls
        document = ' '.join([i for i in ls.split() if i not in stop]).replace(", ", ",").split(",")
        #sentences = nltk.sent_tokenize(document)
        #print sentences
        #sentences = [nltk.word_tokenize(sent) for sent in sentences]
        print document
        #sentences = [nltk.pos_tag([sent]) for sent in document]
        sentences = nltk.pos_tag(document)
        print sentences
        
        lst = [x[0] for x in sentences[0] if x[1] == "NN" or x[1] == "NNS" or x[1] == ","]
        w = ','
        spl = [" ".join(list(y)) for x, y in itertools.groupby(lst, lambda z: z == w) if not x]
        spl = list(set(spl))
        lawyer_name = ",".join(spl)
        df1.loc[n] = [files,lawyer_name]
        n = n + 1
        print n ,files, lawyer_name
    except:
        n = n + 1

['166*166 Lauren J. Wachtler', 'Paul D. Montclare', 'Mitchell Silberberg & Knupp LLP', 'Bruce Allen Schoenberg', 'Schrader & Schoenberg', 'LLP', 'New York', 'NY', 'Patricia H. Benson', 'Gilbert S. Lee', 'Mitchell Silberberg & Knupp LLP', 'Los Angeles', 'CA', 'Plaintiffs.']
[('166*166 Lauren J. Wachtler', 'CD'), ('Paul D. Montclare', 'NNP'), ('Mitchell Silberberg & Knupp LLP', 'NNP'), ('Bruce Allen Schoenberg', 'NNP'), ('Schrader & Schoenberg', 'NNP'), ('LLP', 'NNP'), ('New York', 'NNP'), ('NY', 'NNP'), ('Patricia H. Benson', 'NNP'), ('Gilbert S. Lee', 'NNP'), ('Mitchell Silberberg & Knupp LLP', 'NNP'), ('Los Angeles', 'NNP'), ('CA', 'NNP'), ('Plaintiffs.', 'NNP')]
1 1 F. Supp. 3d 163.txt

In [60]:
nltk.AffixTagger

[('Paul', 'NNP')]

In [7]:
df1.head()

                      Files                                        lawyer_name
1     1 F. Supp. 3d 163.txt  schoenberg,h. benson,paul d. montclare,s. lee,...
2     1 F. Supp. 3d 319.txt  d. lieder,lewis,washington,anton zevnik,llc,m....
3    10 F. Supp. 3d 848.txt  fort lauderdale,law office robert w. murphy,ja...
4  100 F. Supp. 3d 1013.txt  law group,diego,llp,markham,c. talley,plaintif...
5   100 F. Supp. 3d 172.txt  pattis law firm,e. rolfes,daniel murphy erwin,...

In [8]:
df1.to_csv("C://Users//acer1//Desktop//Course content//Court misclassification//Google Scholar//Lawyer_name.csv")

In [ ]:
#Judges

In [ ]:
import pandas as pd
import os
df = pd.DataFrame(columns = ["Files", "Judge Name"])
n = 0
for files in os.listdir("C://Users//acer1//Desktop//Course content//Court misclassification//Google Scholar//Google"):
    try:
        d1 = open("C://Users//acer1//Desktop//Course content//Court misclassification//Google Scholar//Google//%s"%files)
        d2 = d1.read().lower()
        d3 = d2.split("\n")[0:40]

        d4_judge = []
        for lines in d3:
            if "judge" in lines and ("district" in lines or "magistrate" in lines or "civil" in lines or "chief" in lines) and len(lines.split(" ")) < 10 :
                d4_judge = d4_judge + [lines.split("judge")[0]]
        Judge_name = " ".join(d4_judge)
        
        df.loc[n] = [files,Judge_name]
        n = n + 1
        print n ,files, Judge_name
    except:
        n = n + 1

In [ ]:
df.to_csv("C://Users//acer1//Desktop//Course content//Court misclassification//Google Scholar//Judge_Name.csv")